@CHARSET "ISO-8859-1";

/* CSS by Will Dixon */

body {
	font-family: Arial,Helvetica,Sans Serif;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	/* background-color: #EEEEEE; */
	background-color: White;
	color: #0000AA;
}


#menu {
	float: left;
	margin: 0 0 0 0;
	width: 800px;
	font-size: 12px;
}
#menu li {
	float: left;
	list-style: none;
}
#menu a {
	float: left; 
	display: block;
	padding: 5px 25px 5px 25px;
	color: White;
	background-color: #107fff;
	text-decoration: none;
}
#menu a:hover {
	color: #107fff;
	background-color: Aqua;
} 
 
#content {
	color: Black;
	font-size: 11px;
	font-family: Arial,Helvetica,Sans Serif;
	padding: 50px 25px 25px 25px;
	min-height: 500px;
	overflow: visible;
}
	
#footer {
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #107fff;
	font-size: .8em;
}

#header {
	/* Login box disabled */
	/* background: url('pics/newtxlogo.png'); 
	height: 153px;
	width: 800px;*/
}
.formLabel {
}
.formInput {
	margin-right: 50px;
}
.formHint {
	font-size: .8em;
}
.regionSelect {
	width: 200px; 
}
input {
	color: black;
	background: #107fff;
	background-color: aqua;
	border: 1px solid #781341;
}


#login {
	font-size: 11px;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	width: 200px;
	height: 110px;
	opacity: 0.6;
	background-color: WHITE;
}

.loginLabel {
	color: BLACK;
}

.loginInput {
	width: 100px;
}
