
/* Styles and background images by Will Dixon */

body 
{
	font-family: Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	background-color: White;
}

#PageWrapper
{
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: 800px;
		
}



#HeaderWrapper
{
	display: table-row;
	background-image: url('pics/contenttop.png');
	background-repeat: no-repeat;
	font-size: 80%;
	text-align: center;
	width: 800px;
	height: 58px;
	max-width: 800px;
}


#ContentWrapper 
{
	display: table-row;
	background-image: url('pics/contentmiddle.png');
	background-repeat: repeat-y;
	color: white;
	font-weight: bold;
	margin: -10px 0 -10px 0;
	border-style: none;
	text-align: left;
	height: 600px;
	width: 800px;
	overflow: hidden;
}


#FooterWrapper 
{
	display: table-row;
	background-image: url('pics/contentbottom.png');
	background-repeat: no-repeat;
	
	padding: 20px 0 0 20px;
	font-size: 80%;
	text-align: center;
	width: 800px;
	color: White;
	height: 81px;
}

#FormWrapper
{
	float:left;
	padding-left:20px;
	border-style: none;
	text-align: left;
	height: auto;
	width:540px;

}

/* Original contents of master file below here */
